.carouselItem {
    position: relative;
}

.carouselItem > h1 {
    position: absolute;
    font-weight: bold;
    font-size: 2.2rem;
    color: white;
    bottom: 50%;
    left: 28%;
    right: 20%;
}

.carouselItem > h2 {
    position: absolute;
    color: white;
    bottom: 35%;
    left: 28%;
    right: 20%;
}