.carouselItem {
    position: relative;
}

.carouselItem > h1 {
    position: absolute;
    font-weight: bold;
    font-size: 2.2rem;
    color: white;
    bottom: 50%;
    left: 38%;
    right: 20%;
}

.carouselItem > h2 {
    position: absolute;
    color: white;
    bottom: 35%;
    left: 36%;
    right: 20%;
}

.carouselItem > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block
}