.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}

.faq>h3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 2rem;
}

.faq>button {
    background-color: #1A5DA2;
    color: white;
    margin-bottom: 1.5rem;
}

.mainCollapse {
    min-width: 1167px;
}

.emailSupport {
    font-size: 1.5rem;
    padding-top: 3rem;
}